html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-image: linear-gradient(to right bottom, rgb(121, 0, 112), #6f00c3, #004a8a);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.wrapper{
  margin-left: 40px;
  margin-top: 40px;
}
#shopping-list{
  margin: 40px;
}
#wrapper-letter-save{
  display: flex;
  flex-direction: row;
}
#shopping-list h1{
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.title h1{
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#shopping-list input{
  width: 50%;
  font-size: 16px;
  background-color: transparent;
  color: white;
  border: solid 1px;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 8px;
}
.style-box input{
  width: 15%;
  font-size: 16px;
  background-color: transparent;
  color: white;
  border: solid 1px;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 8px;
}
.style-box input:focus{
  outline-style: none;
}
#letter-sum input{
  width: 100%;
}
#letter-save{
  margin-left: 25px;
}
#letters-summed{
  font-size: 12px;
  margin-top: 50px;
}
#letters-saved{
  color: white;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#shopping-list input:focus{
  outline-style: none;
}
#login input:focus{
  outline-style: none;
}
#shopping-list input::placeholder{
  color: white;
}
#login input::placeholder{
  color: white;
}
#shopping-list li{
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.btn{
  font-size: 16px;
  margin-left: 10px;
  border-radius: 4px;
  padding: 5px;
  border: none;
  color: white;
  background-color: rgba(206, 206, 206, 0.54);
}